.hero__btn { 
  @include button(216px);   
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;  
}

.form-signup__btn {
  @include button();
  margin-left: 12px;
  &::after {
    content: '';
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url('../images/icons/send.svg');
  }
}

.modal-form__btn {
  @include button(216px);
  display: block;  
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  &:hover,
  &:focus {
    background-color: $accent-button-color;
  }
}

.buttons-list__btn {
  @include button(auto);
  padding: 6px 25px;
  background-color: $minor-background-color;
  color: $title-color;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $main-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.buttons-list {
  @include flex(flex, center, center);
  margin-bottom: 50px;  
  gap: 8px;
}
