.clients {
  @include flex(flex, center, center);
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  height: 92px;
  width: calc((100% - 30px) / 2);

  @include mq('tablet') {
    width: calc((100% - 60px) / 3);
  }
  @include mq('desktop') {
    width: 170px;
  }
}
.clients__link {
  @include flex(inline-flex, center, center);
  @include size(100%, 100%);
  fill: $icon-color;
  @include border($icon-color);
  border-radius: 4px;
  transition: fill 250ms $timing-function, border 250ms $timing-function;
  &:hover,
  &:focus {
    fill: $accent-color;
    @include border($accent-color);
  }
}
