.container {
  margin: 0 auto;
  padding: 0 15px;
  &--bb {
    border-bottom: 1px solid $border-bottom-color;
  }
  @include mq('phone') {
    max-width: 480px;
  }
  @include mq('tablet') {
    max-width: 768px;
  }
  @include mq('desktop') {
    max-width: 1200px;
  }
}
