.page-footer__form {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
  @include mq('desktop') {
    margin-left: auto;
    width: 560px;
  }
}

.form-signup {
  @include mq('desktop') {
    display: flex;
  }
}

.form-signup__label {
  @include mq('desktop', max) {
    display: block;
    margin-bottom: 20px;
  }
}

.form-signup__input {
  max-width: 450px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-family: inherit;
  color: $main-white-color;
  font-size: 16px;
  line-height: 1.25;
  @include border($footer-form-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  @include mq('desktop') {
    width: 358px;
  }
}

.form-signup__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $main-white-color;
}
