.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $main-background-color;
  @media screen and (max-width: 1200px) {
    text-align: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    gap: 0;
    flex-wrap: nowrap;
  }
}

.page-footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-white-color;
}
