.network {
  @media screen and (max-width: 767px) {
    display: flex;
    margin-top: 64px;
    gap: 20px;
    
  }
}

.network__item {
  @media screen and (max-width: 767px) { 
    position: relative;
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      right: -21px;
      bottom: 11px;
      transform: rotate(90deg);
      width: 22px;
      height: 1px;
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
}

.network__link {
  @media screen and (max-width: 767px) {    
    color: $accent-color;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22px / 18px);
    letter-spacing: 0.02em;  
  }
}