.out-nav {
  display: block;
  @media screen and (max-width: 767px) {
    &.tablet{
      display: none;
    }
  }
  @media screen and (min-width: 767px) {
    @include flex(flex, flex-start, center);
    margin-left: auto;
    gap: 10px;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    @include flex(flex, center, center);
    flex-direction: row;
    gap: 50px;
  }
}

.out-nav__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.out-nav__link {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40px / 34px);
  color: $accent-color;
  letter-spacing: 0.02em;
  transition: color 250ms $timing-function;
  @media screen and (min-width: 767px) {
    @include flex(flex, center, center);    
    
    color: $main-text-color;
    font-size: 12px;
    line-height: calc(14px / 12px);
  } 

  @media screen and (min-width: 1200px) {
  padding-top: 32px;
  padding-bottom: 32px;
  }
  
  &:focus,
  &:hover,
  .out-nav__icon:hover {
    color: $accent-color;
    fill: $accent-color;
  }
}

.out-nav__link.mail {
  @media screen and (max-width: 767px) {    
    color: $main-text-color;
    font-size: 24px;
    line-height: calc(28px / 24px);
  }
}

.out-nav__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 767px) {
    margin-right: 10px;
    fill: currentColor;
  }  
}
