.works-list {
  @include flex(flex, center, center);
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    gap: 30px;
  }
}

.works-list__item {
  @media screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
}

.works-list__link {
  display: block;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
    @include link-shadow();
  }
}

.works-list__thumb {
  position: relative;
  overflow: hidden;
}

.works-list__descr {
  position: absolute;
  top: 0;
  left: 0;
  @include flex(flex, center, center);

  @include size(100%, 100%);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms $timing-function;

  .works-list__link:hover &,
  .works-list__link:focus & {
    transform: translateY(0);
  }
}

.works-list__text {
  color: $main-white-color;
  margin: 0;
  font-size: 16px;
  line-height: 1.55;
  padding: 0 24px;
  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) {
    padding: 48px 24px;
  }
  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }
}

.works-list__content {
  padding: 20px 24px;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

.works-list__content--pb {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-bottom: 56px;
  }
}

.works-list__title {
  margin-bottom: 4px;
  color: $title-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list__subtitle {
  color: $main-text-color;
  font-size: 16px;
  line-height: 1.87;
}
