@mixin flex($flex, $ai, $jc: normal) {
  display: $flex;
  align-items: $ai;
  justify-content: $jc;
}

@mixin link-shadow() {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

@mixin border($color) {
  border: 1px solid $color;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin modal-border($color) {
  border-color: $color;
}

@mixin modal-outline($color) {
  outline: 1px solid $color;
}

@mixin button($width: 200px, $height: 50px) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $width;
  height: $height;
  padding: 0;
  background-color: $accent-color;
  color: $main-white-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: box-shadow 250ms $timing-function, color 250ms $timing-function,
    background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $main-white-color;
    @include link-shadow();
  }
}

$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1200px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @if $type == minmax {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// @mixin mq($type) {
//   $phone: 480px;
//   $tablet: 768px;
//   $desktop: 1200px;

//   @if $type == 'extr-sm' {
//     @media only screen and (min-width: $phone) {
//       @content;
//     }
//   }
//   @if $type == 'sm' {
//     @media only screen and (min-width: $phone) {
//       @content;
//     }
//   }
//   @if $type == 'only-sm' {
//     @media only screen and (min-width: $phone) and (max-width: #{$tablet - 0.02} ) {
//       @content;
//     }
//   }
//   @if $type == 'md' {
//     @media only screen and (min-width: $tablet) {
//       @content;
//     }
//   }
//   @if $type == 'only-md' {
//     @media only screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
//       @content;
//     }
//   }
//   @if $type == 'lg' {
//     @media only screen and (min-width: $desktop) {
//       @content;
//     }
//   }
//   @if $type == 'not-lg' {
//     @media only screen and (max-width:#{$desktop - 0.02}) {
//       @content;
//     }
//   }
// }
