$main-text-color: #757575;
$footer-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196F3;
$accent-button-color: #188CE8;
$title-color: #212121;
$main-white-color: #FFFFFF;
$black-color: #000000;
$main-background-color: #2F303A;
$minor-background-color: #F5F4FA;
$border-bottom-color: #ECECEC;
$border-color: #EEEEEE;
$icon-color: #AFB1B8;
$footer-form-color: rgba(255, 255, 255, 0.3);
$modal-close-color: rgba(0, 0, 0, 0.1);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
